@font-face {
  font-family: heeboBlack;
  src: url(../static/Heebo-Black.ttf);
}
@font-face {
  font-family: heeboRegular;
  src: url(../static/Heebo-Regular.ttf);
}
@font-face {
  font-family: heeboMedium;
  src: url(../static/Heebo-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 99.9%;
  margin: auto;
  font-size: 1rem !important;
  font-family: heeboMedium !important;
}

.navbar img {
  border-radius: 150px;
  margin-right: 1vw;
  margin-left: 3vw;
}

.navDirection {
  width: 60vw !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  direction: rtl !important;
  justify-content: space-evenly !important;
}

.navbar-nav {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.topCase {
  width: 100vw;
  height: 50vh;
  background-image: url(../Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topCase h1 {
  font-size: 5rem;
  font-family: heeboBlack;
  margin-top: 10vh;
}

.topCase p {
  direction: rtl;
  font-size: 1.25rem;
  font-family: heeboRegular;
  width: 60%;
  text-align: center;
  line-height: 2;
  margin-bottom: 3vh;
}

.icons {
  width: 100vw;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons div {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.about {
  width: 100vw;
  height: 60vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about img {
  width: 10vw;
  height: 25vh;
  margin-bottom: 2vh;
}

.about h2 {
  font-size: 2.5rem;
  font-family: heeboBlack;
}

.about p {
  direction: rtl;
  font-size: 1rem;
  font-family: heeboRegular;
  width: 80%;
  text-align: center;
  line-height: 2;
  margin-bottom: 3vh;
}

.about span {
  font-family: heeboBlack;
  font-size: 1.2rem;
}

.about div {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.about button {
  font-size: 1rem;
  font-family: heeboMedium;
  padding: 6px;
  border-radius: 20px;
  background-color: darkorange;
  color: white;
}

.myGallery {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.myGallery h3 {
  font-size: 2rem;
  font-family: heeboBlack;
  line-height: 1.8;
}

.myGallery p {
  font-size: 1rem;
  font-family: heeboRegular;
  text-align: center;
  line-height: 2;
}

.containerCards {
  width: 50%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  -moz-column-gap: 2vh;
       column-gap: 2vh;
}

.card {
  width: 15vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #F8F8F8;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 22vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card h5 {
  margin-top: 2vh;
  font-family: heeboRegular;
  font-style: oblique;
}

.card p {
  margin: 0 1vw;
  direction: rtl;
  margin-bottom: 1vh;
  font-family: heeboRegular;
}

.card button {
  border: 1px solid white;
  border-radius: 100px;
  margin-bottom: 1vh;
}

.card button img {
  width: 2vw;
  height: 4vh;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 70vh;
  direction: rtl;
  background-image: url(../Images/contact_us.png);
  background-color: #2C2C2C;
}

.formSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formSection h2 {
  font-size: 2.5rem;
  font-family: heeboBlack;
  color: white;
  text-align: start;
  width: 40%;
}

.formSection p {
  font-size: 1rem;
  font-family: heeboRegular;
  color: white;
  width: 40%;
  text-align: right;
}

.formCase {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 40%;
}

.formCase label {
  display: block;
  font-size: 0.8rem;
  color: white;
  font-family: heeboBlack;
}

.formCase input {
  width: 17vw;
  height: 5vh;
  margin-bottom: 1vh;
  border: 0;
  border-bottom: 3px solid darkorange;
}

.formCase textarea {
  width: 17vw;
  height: 12vh;
  resize: none;
  margin-bottom: 1vh;
  border: 0;
  border-bottom: 3px solid darkorange;
}

.formCase input[type=submit] {
  width: 5vw;
  height: 4vh;
  border-radius: 100px;
  font-size: 1rem;
  color: white;
  font-family: heeboMedium;
  background-color: darkorange;
}

footer {
  width: 99vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerIcons {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: stretch;
}

.copy {
  width: 100%;
  height: 2.5vh;
  font-family: heeboMedium;
  font-size: 1rem;
  background-color: #2C2C2C;
  color: white;
  direction: rtl;
}

@media (max-width: 1024px) {
  body {
    width: 100%;
  }
  .navbar {
    width: 100%;
    height: 8vh;
    font-size: 0.8rem;
  }
  .navbar-collapse {
    background-color: whitesmoke;
  }
  .topCase {
    width: 100%;
    height: 90%;
  }
  .topCase h1 {
    font-size: 2.8rem;
  }
  .topCase p {
    font-size: 0.8rem;
    width: 65%;
  }
  .icons {
    width: 100%;
    height: 6vh;
  }
  .icons div {
    width: 100%;
  }
  .icons div img {
    width: 8vw;
    height: 4vh;
  }
  .about {
    width: 100%;
  }
  .about img {
    width: 20vw;
    height: 12vh;
  }
  .about h2 {
    font-size: 2rem;
  }
  .about p {
    font-size: 0.8rem;
  }
  .about span {
    font-size: 1rem;
  }
  .about button {
    font-size: 0.8rem;
    padding: 3px;
  }
  .myGallery {
    width: 100%;
    height: 100%;
  }
  .myGallery h3 {
    font-size: 1.8rem;
  }
  .myGallery p {
    font-size: 0.8rem;
  }
  .containerCards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80vw;
  }
  .card button img {
    width: 8vw;
  }
  .contact {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .formSection {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 5vw;
  }
  .formSection h2 {
    font-size: 1.8rem;
  }
  .formSection p {
    font-size: 0.8rem;
    width: 75%;
  }
  .formCase {
    width: 75%;
  }
  .formCase label {
    font-size: 0.6rem;
  }
  .formCase input {
    width: 55vw;
    height: 3vh;
  }
  .formCase textarea {
    width: 55vw;
    height: 9vh;
  }
  .formCase input[type=submit] {
    width: 13vw;
    height: 3vh;
    font-size: 0.8rem;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    width: 100%;
    height: 14vh;
  }
  .footerIcons {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
  }
  .footerIcons img {
    width: 6vw;
    height: 2.5vh;
  }
  .copy {
    width: 100%;
    height: 2vh;
    font-size: 0.8rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */