@font-face {
    font-family: heeboBlack;
    src: url(../static/Heebo-Black.ttf);
}

@font-face {
    font-family: heeboRegular;
    src: url(../static/Heebo-Regular.ttf);
}

@font-face {
    font-family: heeboMedium;
    src: url(../static/Heebo-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

}


.navbar {
    width: 99.9%;
    margin: auto;
    font-size: 1rem !important;
    font-family: heeboMedium !important;
}

.navbar img {
    border-radius: 150px;
    margin-right: 1vw;
    margin-left: 3vw;
}

.navDirection {
    width: 60vw !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    direction: rtl !important;
    justify-content: space-evenly !important;
}

.navbar-nav {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.top {
    width: 100vw;
    height: 50vh;
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top h1 {
    font-size: 5rem;
    font-family: heeboBlack;
    padding-top: 10vh;
}

.top p {
    direction: rtl;
    font-size: 1.25rem;
    font-family: heeboRegular;
    width: 60%;
    text-align: center;
    line-height: 2;
    margin-bottom: 3vh;
}

.top button {
    font-size: 1rem;
    font-family: heeboRegular;
    padding: 5px;
    border-radius: 20px;
    background-color: darkorange;
    color: white;
}

.top div {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.icons {
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons div {
    display: flex;
    justify-content: space-evenly;
}

#faIcon {
    width: 100px;
    height: 100px;
}

.bottom {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom img {
    max-width: 80%;
    height: auto;
}

footer {
    width: 99%;
    direction: rtl;
    font-size: 1rem;
    font-family: heeboBlack;
    color: black;

}

footer div {
    width: 99%;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1024px) {
    body {
        width: 100%;
        height: auto;
    }

    .top {
        width: 100vw;
    }

    .top h1 {
        font-size: 2rem;
    }

    .top p {
        font-size: 0.8rem;
    }

    .top div {
        width: 45vw;
    }

    .top button {
        font-size: 0.5rem;
        color: black;
    }

    .icons {
        height: 10vh;
    }

    .icons div {
        height: auto;
    }

    .bottom {
        width: 100%;
        height: 37vh;
    }

    footer {
        height: 2vh;
    }

    footer div {
        font-size: 0.8rem;
        margin-top: 13px;
    }
}

@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 5px;
        overflow-x: hidden;
    }

    .top h1 {
        font-size: 1.8rem;
    }

    .top p {
        font-size: 0.9rem;
    }

    .top button {
        font-size: 0.5rem;
    }

    .icons div img {
        width: 40px;
    }

    .bottom img {
        max-width: 90%;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .top h1 {
        font-size: 1.5rem;
    }

    .top p {
        font-size: 0.8rem;
    }

    .icons div img {
        width: 15vw;
    }

    .bottom img {
        max-width: 100%;
    }
}